h3 {
    background-color: orange;
    text-align: center;
    padding: 10px;

}
nav{
    text-decoration: none;
    background-color: rgb(107, 103, 102);
    color: #fff;
	/* font-family: poppins; */
	font-size: 20px;
	text-align:left;
    padding: 15px;
    position: sticky;
   
}
a{
    text-decoration: none;
    font-size: 22px;
    text-decoration-color: honeydew;
    text-decoration-color: ivory;

}
a:hover{
    background-color:lightslategray ;
    text-decoration-color: mediumblue;
    text-decoration-line: underline;
}
.img{
    align-content: center;
     margin-left: 500px;
}
footer{
    padding: 30px;
    margin: auto;
    background-color: gray;
    text-align: center;
    font-size: 20px;
}
.h3{
background-color: white;
font-style: italic;
}
ul{
    text-decoration: cyan;
    border-style: double;
    text-align: left;
}


