a {
    padding: 10px;
    color: white;
    text-decoration: none;
    padding-bottom: 20px;
    
}

h3 {
    background-color: orange;
    text-align: center;
    padding: 10px;

}

/* aside {
    background-color: cornflowerblue;
    color: blanchedalmond;
    height: 300px;
    width: 200px;
    margin: 20px;
    padding: 20px;
} */

a:hover {
    background-color: rgb(124, 137, 145)
    
}


nav {
    background-color: rgba(34, 27, 27, 0.411);
    text-align: start;
    text-decoration: none;
    padding-bottom: 20px;
    font-size: 20px;
   
}

.side {
    display: block;
    padding: 20px;
    font-size: large;
    text-decoration: none;
    text-align: center;
}

.b {
    padding: 20px;
    margin: 50px;
}

  body {
    background: linear-gradient(rgba(236, 121, 121, 0.8), rgba(54, 44, 44, 0.8));
    background-repeat: no-repeat;
  

  }
  
img {
    height: 80px;
    width: 90px;
     padding: 10px;
     padding-top: 20px;
   

}